Tugas 5 Pengenbangan AI.json
{
  "name": "Tugas 5 Pengenbangan AI",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFile",
        "fileToWatch": {
          "__rl": true,
          "value": "1he5idmRUhjT0IrYdw_LXEflkIavdO0CU",
          "mode": "list",
          "cachedResultName": "Panduan Penulisan Ilmiah Tugas Akhir Skripsi.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1he5idmRUhjT0IrYdw_LXEflkIavdO0CU/view?usp=drivesdk"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -368,
        -144
      ],
      "id": "1d30dec4-376a-4f8d-9d8f-8a5fc3f8bc12",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cxVyh5gxjMDtJpJL",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0c3dba44-5adf-4b7a-adf4-8c18bb321f03",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        -144
      ],
      "id": "a2fd3716-e3ae-4fc5-8722-7b10d302a0eb",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        -144
      ],
      "id": "585037f4-d1e6-4983-8f5c-4d98b37c9121",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cxVyh5gxjMDtJpJL",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        208,
        -144
      ],
      "id": "f6136db1-0823-4535-b0f7-f6534765a0f5",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        416,
        -144
      ],
      "id": "ba9ca444-7fc5-45eb-8c3a-542dbac66539",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "NNi0sM9HXC10Cql6",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        336,
        48
      ],
      "id": "0050f135-6fdf-443f-bd18-cf44f84384d0",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "NSyUUhqqbKeXM91s",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $json.data }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        592,
        64
      ],
      "id": "6dfc9267-a0c3-46b1-8949-5eda770ec4e7",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        976,
        160
      ],
      "id": "e8138b06-f460-40d8-90c1-2565080853f3",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is Dylan. How can I assist you today?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -192,
        288
      ],
      "id": "70900a71-2f33-40d8-846b-5a9bbc709c8e",
      "name": "When chat message received",
      "webhookId": "61400c53-b6f4-470d-94ae-1325803eaec1"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Kamu adalah asisten AI yang membantu menjawab pertanyaan tentang panduan penulisan karya ilmiah tugas akhir (TA) berdasarkan dokumen yang tersedia.\n\nGunakan informasi dari dokumen untuk menjawab pertanyaan secara:\n- jelas\n- formal\n- terstruktur\n\nDokumen mencakup:\nBab I (Pendahuluan), Bab II (Kajian Literatur), Bab III (Metodologi), Bab IV (Analisis dan Pembahasan), Bab V (Kesimpulan dan Saran), Daftar Referensi, Abstrak, serta aturan format dan gaya penulisan.\n\nJawab sesuai konteks pertanyaan:\n- Jika ditanya tentang bab tertentu, fokus pada isi bab tersebut\n- Jika pertanyaan umum, ambil informasi dari bagian yang paling relevan\n- Jika memungkinkan, jawab dalam bentuk poin-poin agar lebih jelas\n\nJika informasi tidak ditemukan dalam dokumen, jawab dengan sopan bahwa informasi tersebut tidak tersedia dalam dokumen.\nBerikan jawaban yang ringkas namun informatif. Hindari jawaban yang terlalu singkat atau terlalu panjang."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        16,
        288
      ],
      "id": "3ebf3d0f-580c-4b32-8199-6103aa73bd9f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -112,
        496
      ],
      "id": "d52df1dd-eaab-4740-924f-87a28e1c6672",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "NSyUUhqqbKeXM91s",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Gunakan tool ini untuk mencari informasi dari dokumen panduan penulisan karya ilmiah tugas akhir (TA).\n\nDokumen mencakup:\n- Judul tugas akhir\n- Bab I Pendahuluan (latar belakang, rumusan masalah, tujuan, manfaat, batasan, sistematika)\n- Bab II Kajian Literatur\n- Bab III Metodologi\n- Bab IV Analisis dan Pembahasan\n- Bab V Kesimpulan dan Saran\n- Daftar Referensi\n- Abstrak\n- Format dan gaya penulisan\n\nGunakan tool ini ketika pertanyaan berkaitan dengan struktur, isi, atau panduan penulisan karya ilmiah.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        416,
        448
      ],
      "id": "f750566d-a4e0-4239-8233-cabfa4b95190",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "NNi0sM9HXC10Cql6",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        32,
        496
      ],
      "id": "353861db-3287-4b9e-b4a2-61569e9102de",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "7MUCahkiHwMGGqVz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        512,
        656
      ],
      "id": "122516ed-8623-4b5b-8d7e-546df91c0947",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "NSyUUhqqbKeXM91s",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "84b55b1c-e64f-400f-a1f6-2cfe51c5bc29",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "319ed34c023179c9772a2ca816f1850d7973c99b9a6bf93ad829e6d9c254aa67"
  },
  "id": "LdvHh1JNViB5Y9FY",
  "tags": []
}